# Replace example.com with your domain.

synhub.me {
  encode zstd gzip
  
  handle_path /static/* {
	root * /app/app/static
	file_server
}
  reverse_proxy web:8000
 }

www.synhub.me {
	redir https://synhub.me{uri}
}
